<%= render partial: "layouts/header" %>
  <div class="main">
    <%# トップページへ戻るボタン %>
    <div class="to_top"><%= link_to "/", class:"btn_to_top" do %>              
    <i class="fas fa-undo-alt"></i>
    トップページへ
    <%end%> 
    </div>
    <div class="diary_new_top">
        <i class="fas fa-cat"></i>
          体重の記録結果
        <i class="fas fa-cat fa-flip-horizontal"></i>
    </div>
    <div class="graph">
      <%= line_chart @graph.group(:created_on).sum(:weight), xtitle: "日付", ytitle: "体重（kg）",
          colors: ["#66CCFF"], curve: false, empty: "体重データがありません"%>
    </div>
  </div>
<%= render partial: "layouts/footer" %>