買い物リスト


<%= form_with url: shopping_lists_path, method: :post,id: "form" do |f| %>
  <%= f.text_field :item_name, id: "content"%>
  <%= f.submit '追加する' , id: "submit" %>
<% end %>

<div id="list">
</div>

<% @shopping_lists.each do |shopping_list| %>
  <div class="post" >
    <div>
      <%= shopping_list.item_name %>
    </div>
  </div>
<% end %>