買い物リスト


<%= form_with url: "/posts", method: :post,id: "form" do |form| %>
  <%= form.text_field :content %>
  <%= form.submit '追加する' , id: "submit" %>
<% end %>

<div id="list">
</div>

<% @shopping_lists.each do |shopping_list| %>
  <div class="post" >
    <div class="post-date">
      <%= shopping_list.item_name %>
    </div>
  </div>
<% end %>