.html, body{
  height: 100%;
  background-color: #D7EEFF
}

.main{
  width: 100vw;
  padding: 5vh 10vw;
}

.top_main{
  height: calc(100vh - 200px);
  width: 100vw;
  background-color: #D7EEFF;
  padding: 5vh 10vw;
}

.btn{
  text-decoration: none;
  width: 300px;
  display       : inline-block;
  border-radius : 5px;          
  font-size     : 13pt;        
  text-align    : center;     
  cursor        : pointer;     
  padding       : 12px 12px;   
  line-height   : 1em;         
  border: 2px dashed #555555;    
  color: #555555;
  background-color: white;
}

.to_top{
  padding-left: 3vw;
  padding-bottom: 2vh;
}

.btn_to_top{
  background-color: #ffc;
  text-decoration: none;
  width: 200px;
  font-weight: bold;
  display       : inline-block;
  border-radius : 5px;       
  font-size     : 12pt;     
  text-align    : center;     
  cursor        : pointer;     
  padding       : 12px 12px;
  line-height   : 1em;        
  border: 3px dashed #555555;
  color: #555555;
}

/* トップページ */
.top_lists{
  display:flex;
  flex-direction: column;
}

.top_list{
  text-align: center;
  margin :2vh auto;
  padding : 0 0;
}

.fa-fish, .fa-pencil-alt, .fa-book, .fa-sign-out-alt, .fa-shopping-cart, .fa-sign-in-alt, .fa-portrait{
  color: #66CCFF;

}


/* 日記作成ページ */


.diary_new_top{
  width:35vw;
  margin: 0 auto;
  text-align: center;
  color: #555555;
  font-size: 20px;
  border: 4px solid #555555;
  border-radius : 5px;
  background-color:white ;
  font-weight: bold;
}

.diary_new_top span{
  font-size: 25px;
}

.fa-cat, .fa-file-alt, .fa-images, .fa-weight, .fa-trash-alt,
.fa-cookie-bite, .fa-coffee, .fa-sun, .fa-moon, .fa-undo-alt{
  color: #66CCFF;
}

.diary_new_lists{
  padding: 5vh 3vw;
}

.diary_new_content{
  margin-bottom: 2vh;
  font-size: 15px;
  color: #555555;
}

.diary_new_list{
  font-weight: bold;
  color: #555555;
  font-size: 20px;
}

/* 画像、ファイル選択ボタン */
#image-list{
  display: flex;
}
.image_form{
  display: flex;
}

.image_form img{
  height: 20vh;
  width: 10vw;
  object-fit: contain;
  background-color: white;
  border: 3px dashed;
  border-radius: 5px;
  margin-right: 10px;
}

.upload_button{
  font-size: 50px;
  margin-top: 30%;
}

.click{
  color: #555555;
  padding-top: 5%;
  font-size: 12px;
  font-weight: bolder;

}
.edit-click-upload{
  display: none;
}

.click-upload{
  padding-top: 1vh;
}

.click-upload label{
  height: 20vh;
  width: 10vw;
  background-color: white;
  align-items: center;
  border: 3px dashed;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.click-upload label:hover{
  background-color: #ffc;
}

/* 今日のメモ */
.diary_text:focus{
  background-color: #ffc;
  outline: none;           
}
.diary_text{
  border: 3px dashed #555555;
  border-radius: 5px;
  padding: 3px 10px; 
  line-height: 20px; 
  height: 20vh; 
  width: 50vw;
  color: #555555;
}
/* 体重 */
.diary_weight{
  border: 3px dashed #555555;
  border-radius: 5px;
  height: 5vh; 
  padding: 3px 10px;
  text-align: center;
  width: 10vw;
  font-size: larger;
  color: #555555;
}

.diary_weight:focus{
  background-color: #ffc; 
  outline: none;         
}

/* ご飯の量 */
.bold{
  font-weight: bold;
  font-size: 20px;
  vertical-align:bottom;
}
.amount_eaten{
  margin-top: 5px;
  height: 4vh; 
  text-align: center;
  width: 10vw;
  color: #555555;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}
.bottom_line{
  border-bottom: 3px dashed #555555;
}

.fa-hand-point-right{
  font-size: 1.5em;
  margin-left: 10px;
} 

.submit_btn{
  background-color: #ffc;
  text-decoration: none;
  width: 300px;
  font-weight: bold;
  display       : inline-block;
  border-radius : 5px;       
  font-size     : 13pt;     
  text-align    : center;     
  cursor        : pointer;     
  padding       : 12px 12px;
  line-height   : 1em;        
  border: 3px dashed #555555;
  color: #555555;
  margin-top: 5vh;
}

/* 編集ページ */
.diary_edit_image{
  display: flex;
}

.diary_edit_images{
  display: flex;
}
/* 詳細ページ */
.update_at{
  font-size: 15px;
}

/* 一覧ページ */
.diary_lists{
  padding: 5vh 5vh;
  display:flex;
  flex-direction: column;
}

.diary_list{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555555;
}

.list_btn{
  text-align: center;
  margin :4vh;
  padding : 0 0;
  width: 800px;
  display       : inline-block;
  border-radius : 5px; 
  font-size     : 13pt;       
  text-align    : center;   
  cursor        : pointer; 
  padding       : 12px 12px; 
  line-height   : 1em;         
  border: 2px dashed #555555;  
  color: #555555;
  background-color: white;
  text-decoration: none;
}
.list_btn span{
  font-weight: bold;
}


.diary_list{
  margin-bottom: 5vh;
}

.image{
  width: 130px;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #66CCFF;
  border: 2px dashed #555555; 
}


.list_image{
  width: 128px;
  height: 128px;
  object-fit: contain;
}

.errors{
  color:#CC0033	;
  font-weight: bold;
  text-align: left;
  background-color: #ffc;
  margin-bottom: 2vh;
}

.field_with_errors {
  display: contents;
}