.main{
  width: 100vw;
  height: calc(100vh - 200px);
  background-color: #D7EEFF;
  padding: 5vh 10vw;
}
/* トップページ */
.top_lists{
  display:flex;
  flex-direction: column;
}

.top_list{
  text-align: center;
  margin :2vh auto;
  padding : 0 0;
}

.fa-fish, .fa-pencil-alt, .fa-book, .fa-sign-out-alt, .fa-shopping-cart, .fa-sign-in-alt, .fa-portrait{
  color: #66CCFF;

}

.btn{
  text-decoration: none;
  width: 300px;
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 13pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  line-height   : 1em;         /* 1行の高さ  */
  border: 2px dashed #555555;    /* 枠の指定 */
  color: #555555;
  background-color: white;
}






/* 画像、ファイル選択ボタン */
#image-list{
  display: flex;
}

/* img{
  height: 20vh;
  width: 10vw;
  object-fit: contain;
  background-color: teal;
  background-color: #e0e6e98a;
  border: 3px dashed;
  border-radius: 4%;
  margin-left: 10px;
} */


.upload_button{
  font-size: 50px;
  margin-top: 30%;
}

.click{
  color: black;
  padding-top: 5%;
  font-size: 12px;
  font-weight: bolder;

}
.edit-click-upload{
  display: none;
}


.click-upload label{
  height: 20vh;
  width: 10vw;
  background-color: #e0e6e98a;
  align-items: center;
  border: 3px dashed;
  display: flex;
  flex-direction: column;
  border-radius: 4%;
}

/* 削除ボタン */